.left-table-align td{
    text-align: left !important;
}

.left-table-align th{
    text-align: center !important;
}
.M218Table {
    width: 100% !important;
    margin-bottom: 2em;
    margin-top: 2em;
}

.full-height-img img {
    height: 90%;
}

img.half-width-img  {
    width: 50%;
}
